<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body background="error_background.jpg">
<div class="container">
            <div class="error-template">
                <h1>Oops!</h1>
                    <h2>404 Not Found</h2>
                        <div class="error-details">
                            {{ error }}
                        </div>
                <div class="error-actions">
                    <a href="javascript:history.back()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Go Back </a>
                </div>
            </div>
        </div>
    </div>
</div>
