<!DOCTYPE html>
<html lang="en">
<head>
    <title>SciFinder</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SciFinder</h3>
        </div>
 
        <div class="jumbotron">
            <img src="/static/scifinder.png" alt="Logo" height="125" width="225"> 
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" a href="/signup" role="button">Sign Up</a>
            </p>
        </div>
 
        <footer class="footer">
            <p></p>
        </footer>
 
    </div>
</body>
 
</html>
