<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search SciFinder</title>
    {% block content %} {% endblock %} 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
	<nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/index">Home</a></li>
            <li role="presentation"><a href="/signin">Sign In</a></li>
	    <li role="presentation" class = "active"> <a href="/userpage">Search</a></li>
        </nav>
        <h3 class="text-muted">SciFinder</h3>
      </div>
 
      <div class="jumbotron">
        <img src="{{ url_for('static', filename='scifinder.png') }}" alt="Logo" height="125" width="225">
        <h3> Search SciFinder </h3>

        <form class="Page" action="" method="post">

          {{ form.query(class = "form-control",  id="#search",  placeholder="Search") }}

          {{ form.submit(class = "btn btn-lg btn-primary btn-block", value = "Search", id = "submit") }}

        </form>
      </div>
 
       
 
      <footer class="footer">
        <p></p>
      </footer>
 
    </div>
  </body>
</html>
