<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SciFinder Sign Up</title>
    {% block content %} {% endblock %} 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/index">Home</a></li>
            <li role="presentation"><a href="/signin">Sign In</a></li>
        </nav>
        <h3 class="text-muted">SciFinder</h3>
      </div>
 
      <div class="jumbotron">
        <img src="{{ url_for('static', filename='scifinder.png') }}" alt="Logo" height="125" width="225">

        <form class="form-signup" action="" method="post">
          {{ form.email(class = "form-control", placeholder="Email") }}
 
          {{ form.password(class = "form-control", placeholder="Password") }}

          {{ form.submit(class = "btn btn-lg btn-primary btn-block") }}
        </form>
      </div>
      <footer class="footer">
        <p></p>
      </footer>
 
    </div>
  </body>
</html>
